@-ms-viewport{
    width: device-width;
}

html, body {
    background-color: #000;
}

h1, h2, h4, h5, p {
    font-family: "DK Sugary Pancake";
    font-weight: bold;
}

h2 {
    color: dimgray;
}

p {
    color: white;
}

@font-face {
    font-family: DK Sugary Pancake;
    src: url('../resources/fonts/DK%20Sugary%20Pancake.otf');
url('../resources/fonts/DK%20Sugary%20Pancake.woff') format('woff'), /* Modern Browsers */
url('../resources/fonts/DK%20Sugary%20Pancake.ttf')  format('truetype') /* Safari, Android, iOS */

}

.footer {
    margin: 0 0 15px 15px;
    bottom: 0;
    float: left;
    /*position: fixed;*/
    color: dimgray;!important;
    background-color: black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}