<div id="personsList" class="content">
    <div ng-repeat="person in elements">
        <carousel-info person="person" data-ng-show="person.id == value" class="animate-show"></carousel-info>
    </div>
</div>
<div class="col-xs-12 carousel-footer">
    <div class="col-xs-12 timeline">
        <div class="dot" ng-repeat="person in elements" data-ng-style="{'left':'{{$index/elements.length*100}}%'}"
             data-ng-click="dotClick($index)" data-ng-class="{'selected':value == $index}">
            <p class="shortname">{{person.shortname}}</p>
        </div>
    </div>

    <div class="col-xs-12 device-timeline"  ng-swipe-left="swipe">
        <div class="device-dot secondary-dot col-xs-4" style="left: 17%" data-ng-click="dotClick(previousElement)"><p class="shortname" style="color: grey">{{elements[previousElement].shortname}}</p></div>
        <div class="device-dot col-xs-4" style="left: 47.5%" data-ng-click="dotClick(value)"><p class="shortname">{{elements[value].shortname}}</p></div>
        <div class="device-dot secondary-dot col-xs-4" style="left: 77%" data-ng-click="dotClick(nextElement)"><p class="shortname" style="color: grey">{{elements[nextElement].shortname}}</p></div>
    </div>

    <div class="col-xs-12 carousel-actions">
        <button type="button" class="btn btn-default play-button" aria-label="Left Align" data-ng-show="!isPlaying"
                data-ng-click="play()">
            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
        </button>

        <button type="button" class="btn btn-default play-button" aria-label="Left Align" data-ng-show="isPlaying"
                data-ng-click="stop()">
            <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
        </button>
    </div>

</div>