@media (min-width: 1024px) {
    h2 a {
        font-size: 40px;
    }

    h4 {
        font-size: 28px;
    }

    .shortname {
        font-size: 25px;
        margin-left: -50px;
        margin-top: -30px;
    }

    .description {
        font-size: 25px;
    }

    .timeline {
        /*display: block;*/
        display: none;
    }

    .device-timeline {
        display: block;
        /*display: none;*/
    }

    .content {
        min-height: 900px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    h2 a {
        font-size: 60px;
    }

    h4 {
        font-size: 38px;
    }

    .shortname {
        font-size: 25px;
        margin-left: -50px;
        margin-top: -30px;
    }

    .description {
        font-size: 35px;
    }

    .timeline {
        display: none;
    }

    .device-timeline {
        display: block;
    }

    .content {
        min-height: 600px;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    h2 a {
        font-size: 40px;
    }

    h4 {
        font-size: 28px;
    }

    .shortname {
        font-size: 20px;
        margin-left: -35px;
        margin-top: -22px;
    }

    .description {
        font-size: 25px;
    }

    .timeline {
        display: none;
    }

    .device-timeline {
        display: block;
    }

    .content {
        min-height: 600px;
    }
}

@media (min-width: 320px) and (max-width: 479px) {
    h2 a {
        font-size: 40px;
    }

    h4 {
        font-size: 28px;
    }

    .shortname {
        font-size: 15px;
        margin-left: -30px;
        margin-top: -20px;
    }

    .description {
        font-size: 25px;
    }

    .timeline {
        display: none;
    }

    .device-timeline {
        display: block;
    }

    .content {
        min-height: 600px;
    }
}

.center {
    text-align: center;
}

.dump-top {
    margin-top: 20px;
}

.timeline {
    background-color: grey;
    margin-bottom: 20px;
    margin-top: 50px;
    /*position: fixed;*/
    height: 2px;
    bottom: 0;
}

.dot {
    z-index: 99;
    transition: 0.3s ease-in-out;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: -12px;
    text-align: center;
    cursor: pointer;
    background-color: #1897ff;
    margin-left: 20px;

}

.dot .shortname {
    font-family: "DK Sugary Pancake";
    display: block;
    position: relative;
    top: -20px;
    left: -15px;
    color: white;
    text-align: left;
}

.device-dot {
    z-index: 99;
    /*transition: 0.3s ease-in-out;*/
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: -12px;
    cursor: pointer;
    background-color: #1897ff;
    text-align: center;
}

.device-timeline {
    background-color: grey;
    height: 2px;
    margin-bottom: 20px;
    margin-top: 50px;
}

.device-timeline .shortname {
    font-family: "DK Sugary Pancake";
    color: white;
    text-align: center;
}

.selected {
    background-color: white;
}

.carousel-actions {
    /*position: fixed;*/
    bottom: 0;
    margin-bottom: 20px;
}

.play-button {
    position: absolute;
    left: 47.5%;
    color: black;
    background-color: #1897ff;
    border-color: #0075ff;
    width: 50px;
    height: 30px;
}

.play-button :hover {
    border-color: black;
    color: black;
}

.carousel-footer {
    background-color: black;
}

.description {
    color: #b7b7b7;
    white-space: pre-wrap;
}
